{{#with comment}}

    {{#if shortText}}
        <div class="Summary">
            {{#markdown}}{{{shortText}}}{{/markdown}}
        </div>
    {{/if}}

    {{#if text}}
        <div class="Text">
            {{#markdown}}{{{text}}}{{/markdown}}
        </div>
    {{/if}}

    {{#if tags}}
        {{#each tags}}
            {{#ifValue tagName "example"}}
                <pre class="Example">
                    {{{text}}}
                </pre>
            {{/ifValue}}
            {{#ifNotValue tagName "example"}}
                <div class="{{CamelCase tagName}}">
                    {{#markdown}}{{{text}}}{{/markdown}}
                </div>
            {{/ifNotValue}}
        {{/each}}
    {{/if}}

{{/with}}
