<article class="{{{cssClasses}}}">

    <a name="{{{anchor}}}"></a>

    {{#if name}}
        <h3>{{#each flags}}<span class="Flag{{{this}}}">{{{this}}}</span> {{/each}}{{{wbr name}}}</h3>
    {{/if}}

    {{> members.comment}}

    {{> members.aside}}

</article>
