<aside>

    {{#if implementationOf}}
        <p class="Implements">Implements {{implementationOf}}</p>
    {{/if}}

    {{#if inheritedFrom}}
        <p class="Inherits">Inherits {{inheritedFrom}}</p>
    {{/if}}

    {{#if overwrites}}
        <p>Overrides {{overwrites}}</p>
    {{/if}}

    {{#if sources}}
        <ul>
            {{#each sources}}
                <li>
                    Defined in
                    {{#if url}}<a href="{{url}}">{{/if}}
                    {{fileName}}:{{line}}
                    {{#if url}}</a>{{/if}}
                </li>
            {{/each}}
        </ul>
    {{/if}}

</aside>
