{{#if isVisible}}
    {{#if isLabel}}
        <li class="Label">
            <h3>{{{wbr title}}}</h3>
        </li>
    {{else}}
        <li class="{{#if isInPath}}Current {{/if}}{{#if isGlobals}}Globals {{/if}}{{{cssClasses}}}">
            <a href="{{relativeURL url}}">{{{wbr title}}}</a>
            {{#if isInPath}}
                {{#if children}}
                    <ul>
                        {{#each children}}
                            {{> navigation.item}}
                        {{/each}}
                    </ul>
                {{/if}}
            {{/if}}
        </li>
    {{/if}}
{{/if}}
