{{#if children}}
    <li class="{{CamelCase cssClasses}} Collapsed {{#ifValue id @root.model.id}}Active{{/ifValue}}">
    <a href="{{relativeURL url}}">{{{wbr name}}}</a> ({{kind}}, {{kindString}})
        <ul>
            {{#each children}}
                {{>sidepanel.item}}
            {{/each}}
        </ul>
    </li>
{{else}}
    <li class="{{CamelCase cssClasses}} {{#ifValue id @root.model.id}}Active{{/ifValue}}">
        <a href="{{relativeURL url}}">{{{wbr name}}}</a> ({{kind}}, {{kindString}})
    </li>
{{/if}}