<li class="{{CamelCase cssClasses}}{{#ifValue id @root.model.id}} Active{{/ifValue}}">
    <a href="{{relativeURL url}}">{{{wbr name}}}</a> ({{kind}}, {{kindString}})
    {{#if children}}
        <ul>
            {{#each children}}
                {{>sidepanel.item}}
            {{/each}}
        </ul>
    {{/if}}
</li>
